<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>peakDemo</title>
    <link rel="stylesheet" href="../static/stylesheet.css">

</head>
<body>
<div class="container-top">
    <h1>Peak Demo</h1>
</div>
<div class="container">
    <div class="right-side-container-menu">
        <button class="optionButton">option1</button>
        <button class="optionButton">option2</button>
        <button class="optionButton">option3</button>
        <button class="optionButton">option4</button>
        <button class="optionButton">option5</button>
        <button class="optionButton">option6</button>
    </div>

    <div class="center-container-menu">

    </div>
    <div class="right-side-container-body">

    </div>
    <div class="center-container-body">


    </div>


    <div class="left-side-container-body">

    </div>
    <div>


    </div>
</div>

<div class="footer">


</div>

</body>
</html>